.git
.github
.husky
.next
.yarn
node_modules
coverage
playwright-report
test-results
blob-report
Dockerfile
docker-compose.yml
.dockerignore
.env
.env*.local
*.md
docs
e2e
test
real-data
data
playwright.config.ts
vitest.config.mts
